<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hidayat.zulfa.uas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_dan_Register.LoginActivity" />
        <activity android:name=".Login_dan_Register.RegisterActivity" />
        <activity android:name=".Multimedia.OflineActivity" />
        <activity android:name=".Multimedia.OnlineActivity" />
        <activity android:name=".CobaActivity" />
        <activity android:name=".CRUD.CRUDActivity" />
        <activity android:name=".CRUD.TampilMhs" />
        <activity android:name=".CRUD.UpDelActivity" />
        <activity android:name=".CRUD.DeleteActivity" />
        <activity android:name=".SukaActivity"></activity>
    </application>

</manifest>